header{
    background-color: blue;
    height: 10vh;
    width: 100%;
    position: relative;
  
}
#table1{
    position: absolute;
    top: 20px;
    right: 30px;
      gap: 50px;
    display: flex;
    
}
#hello{
    position: absolute;
    top: 0px;
    left: 25%;
    color: white;
}
.button{
    padding-right: 0px;
    text-decoration: none;

    
}
#Main_Contrainer{
  background-color: blue;
  height: 90vh;
}
#social_media{
  position: absolute;
  top: 500px;
  left: 700px;
  display: flex;
  gap: 20px;
  
}
#table .button{
  text-decoration: none;
  font-size: large;
}